$primaryBackround: border-box #E8381B linear-gradient(to right, #FF690F, #E8381B);

$primaryColor: #FE7100;
$secondaryColor: #212A30;

$fontSize: calc(0.15vw + 0.9em);

$sideMargin: calc(1vw + 1em);
$sideMarginSmall: calc(#{$sideMargin} / 2);

$headerHeight: calc(#{$sideMargin} * 1.7);
$headerTransitionDuration: 404ms;
$headerTransitionTiming: ease-in-out;
