html {
  min-height: 100vh;
  width: 100vw;
  background-color: $secondaryColor;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  body, #root {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-grow: 1;
  }
  p {
    color: $primaryColor;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  section.content {
    padding: $sideMarginSmall $sideMargin;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex: 1;
  }
}
