footer {
  background-color: #192024;
  > p {
    text-align: center;
    font-size: calc(11px + .15vw);
    padding: $sideMarginSmall $sideMargin;
    text-transform: uppercase;
    font-weight: 500;
  }
}
