header {
  background: $primaryBackround;
  padding: $sideMarginSmall $sideMargin;
  display: flex;
  flex-direction: row;
  align-items: center;

    .search-input {
      background-color: rgba(255,255,255,0.3);
      flex: 1;
      display: flex;
      align-items: center;
      height: $headerHeight;
      position: relative;

      .movie-icon {
        height: $sideMargin;
        width: $sideMargin;
        margin: 0 calc(#{$sideMarginSmall} / 2);
        background-color: #FFFFFF; /* defines the background color of the image */
        mask: url('../assets/icons/movie.svg') no-repeat center / contain;
      }

      .placeholder {
        pointer-events: none;
        color: #FFFFFF;
        font-weight: 600;
        font-size: $fontSize;
        position: absolute;
        left: calc(#{$sideMarginSmall} / 2);
        opacity: 1;
        transition-property: color, transform, opacity;
        transition-duration: $headerTransitionDuration;
        transition-timing-function: $headerTransitionTiming;
        transform-origin: 0% 50%;
        top: 50%;
        transform: translateY(-50%);
        &.hidden {
          opacity: 0;
        }
        &.inputNotEmpty {
          transform: translateY(calc(#{$headerHeight} / 10)) scale(0.7);
          color: #808080;
        }
      }

      .input-wrap {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: text;
        flex: 1;
        transition-property: background-color;
        transition-duration: $headerTransitionDuration;
        transition-timing-function: $headerTransitionTiming;

        .movie-icon-in-input {
          transition-property: width, margin-left, opacity;
          transition-duration: $headerTransitionDuration;
          transition-timing-function: $headerTransitionTiming;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 0;
          width: 0;
          opacity: 0;
          // opacity: 1;
          // margin-left: calc(#{$sideMarginSmall} / 2);
          // width: calc(#{$headerHeight / 1.2} - (#{$sideMarginSmall} / 2));
          height: $headerHeight;
          > div.movie-icon-in-input-icon {
            transition-property: opacity;
            transition-duration: $headerTransitionDuration;
            transition-timing-function: $headerTransitionTiming;
            height: 50%;
            width: 50%;
            background-color: #000000; /* defines the background color of the image */
            mask: url('../assets/icons/movie.svg') no-repeat center / contain;
          }
        }

        .search-input-content {
          position: relative;
          height: 100%;
          display: flex;
          align-items: center;
          flex: 1;
          flex-grow: 1;

          input {
            transition-property: transform;
            transition-duration: $headerTransitionDuration;
            transition-timing-function: $headerTransitionTiming;
            background-color: transparent;
            border: none;
            flex: 1;
            color: #FFFFFF;
            outline: none;
            font-weight: 600;
            font-size: $fontSize;
            padding: 0;
            display: flex;
            // align-items: center;
            padding: 0 calc(#{$sideMarginSmall} / 2);
          }
        }

        .animated-borders {
          position: absolute;
          bottom: 0;
          left: 0;
          display: flex;
          flex-direction: row;
          width: 100%;
          .border-left, .border-right {
            display: flex;
            flex-grow: 1;
            &.border-left {
              justify-content: flex-end;
            }
            &.border-right {
              justify-content: flex-start;
            }
            .border {
              height: 2px;
              background-color: #969696;
              width: 0%;
              transition-property: width;
              transition-duration: $headerTransitionDuration;
              transition-timing-function: $headerTransitionTiming;
            }
          }
        }


        &.focused {
          background-color: #FFFFFF;
          .search-input-content {
            > input {
              transform: translateY(calc(#{$headerHeight} / -8));
              color: $secondaryColor;
            }
            > p.placeholder {
              transform: translateY(calc(#{$headerHeight} * 0.02)) scale(0.7);
              color: #808080;
            }
          }
          > div.movie-icon-in-input {
            opacity: 1;
            margin-left: calc(#{$sideMarginSmall} / 2);
            width: calc(#{$headerHeight / 1.2} - (#{$sideMarginSmall} / 2));
          }
          > div.animated-borders .border {
            width: 100%;
          }
        }
      }

      .search-results {
        position: absolute;
        top: $headerHeight;
        left: 0;
        opacity: 1;
        width: 100%;
        background-color: #FFFFFF;
        transition-property: opacity;
        transition-duration: $headerTransitionDuration;
        transition-timing-function: 202ms;
        &.hidden {
          opacity: 0;
          pointer-events: none;
        }
        .result {
          cursor: pointer;
          background-color: #FFFFFF;
          padding: calc(#{$sideMarginSmall} / 2) $headerHeight;
          &:hover:not(.no-results) {
            background-color: #d9d9d9;
          }
          .title {
            font-weight: 600;
            font-size: $fontSize;
            color: $secondaryColor;
          }
          .description {
            font-weight: 400;
            font-size: calc(#{$fontSize} / 1.4);
            color: #808080;
          }
          &.no-results {
            .title {
              color: #808080;
              padding: calc(#{$sideMarginSmall} / 2) 0;
              &.error {
                color: #ff6961;
              }
            }
          }
        }
      }

    }

    .search-button {
      transition-property: width, margin-left;
      transition-duration: $headerTransitionDuration;
      transition-timing-function: $headerTransitionTiming;
      display: flex;
      background-color: #FFFFFF;
      width: $headerHeight;
      height: $headerHeight;
      justify-content: center;
      align-items: center;
      border: none;
      outline: none;
      cursor: pointer;
      margin-left: calc(#{$sideMarginSmall} / 2);
      opacity: 1;
      &.hidden {
        width: 0;
        margin-left: 0;
        > .search-icon{
          opacity: 0;
        }
      }
      .search-icon {
        transition-property: opacity;
        transition-duration: $headerTransitionDuration;
        transition-timing-function: $headerTransitionTiming;
        height: 62%;
        width: 62%;
        background-color: $primaryColor; /* defines the background color of the image */
        mask: url('../assets/icons/search.svg') no-repeat center / contain;
      }
    }
}
